parameters:
    level: 8
    paths:
        - src
        - public
        - castor.php
        - .castor/
    scanFiles:
        - .castor.stub.php
    tmpDir: tools/phpstan/var
    inferPrivatePropertyTypeFromConstructor: true

    # symfony:
    #     containerXmlPath: 'var/cache/dev/App_KernelDevDebugContainer.xml'

    ignoreErrors:
        - '{Property .* type has no value type specified in iterable type array\.}'
        - '{Method .* return type has no value type specified in iterable type array\.}'
        - '{Method .* has parameter .* with no value type specified in iterable type array\.}'

    typeAliases:
        ContextData: '''
            array{
                project_name: string,
                root_domain: string,
                extra_domains: string[],
                php_version: string,
                docker_compose_files: list<string>,
                docker_compose_run_environment: list<string>,
                docker_compose_run_service: string,
                macos: bool,
                power_shell: bool,
                user_id: int,
                root_dir: string,
                registry?: ?string,
            }
        '''
