<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
        {% for messages in app.session.flashBag('error').all() %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
        {% block body %}{% endblock %}
        <hr />
        Representation of the Article workflow:
        <img src="{{ asset('images/workflow.png') }}" />
        {% block javascripts %}{% endblock %}
    </body>
</html>
