{% macro flashbag() %}
    {% import _self as self %}
    {% for level in ['danger', 'warning', 'success', 'info'] %}
        {% for message in app.session.flashbag.get(level) %}
            {{ self.message(message, level) }}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro message(message, level = 'info') %}
    <div class="alerts">
        <div class="alert alert-{{ level }}">
            {{ message }}
        </div>
    </div>
{% endmacro %}
