<svg class="img-responsive" id="state_machine-task" width="577pt" height="389pt"
 viewBox="0.00 0.00 577.00 389.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 385)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-385 573,-385 573,4 -4,4"/>
<!-- place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc -->
<g id="node1" class="node">
<title>place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-206.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-204.3" font-family="Arial" font-size="9.00" fill="#000000">new</text>
</g>
<!-- place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42 -->
<g id="node3" class="node">
<title>place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42</title>
<ellipse fill="none" stroke="#333333" cx="263.5" cy="-206.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="263.5" y="-204.3" font-family="Arial" font-size="9.00" fill="#000000">processing</text>
</g>
<!-- place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc&#45;&gt;place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42 -->
<g id="edge1" class="edge">
<title>place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc&#45;&gt;place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42</title>
<path fill="none" stroke="#333333" d="M115.1564,-206.5C141.8251,-206.5 173.5607,-206.5 200.8216,-206.5"/>
<polygon fill="#333333" stroke="#333333" points="200.8575,-208.2501 205.8575,-206.5 200.8575,-204.7501 200.8575,-208.2501"/>
<text text-anchor="middle" x="160.5" y="-209.3" font-family="Arial" font-size="9.00" fill="#000000">start_process</text>
</g>
<!-- place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec -->
<g id="node2" class="node">
<title>place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec</title>
<ellipse fill="none" stroke="#333333" cx="511.5" cy="-323.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="511.5" y="-321.3" font-family="Arial" font-size="9.00" fill="#000000">backlogged</text>
</g>
<!-- place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec&#45;&gt;place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42 -->
<g id="edge2" class="edge">
<title>place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec&#45;&gt;place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42</title>
<path fill="none" stroke="#333333" d="M464.0273,-290.6506C454.9149,-284.9344 445.3077,-279.2936 436,-274.5 399.7217,-255.8161 357.0746,-238.9622 323.2616,-226.7073"/>
<polygon fill="#333333" stroke="#333333" points="323.6359,-224.9821 318.3387,-224.9329 322.449,-228.2747 323.6359,-224.9821"/>
<text text-anchor="middle" x="387.5" y="-277.3" font-family="Arial" font-size="9.00" fill="#000000">retry</text>
</g>
<!-- place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec -->
<g id="edge3" class="edge">
<title>place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec</title>
<path fill="none" stroke="#333333" d="M298.9147,-251.8744C310.4922,-264.0822 324.2134,-276.1898 339,-284.5 372.6753,-303.4258 414.9144,-313.1689 449.1663,-318.1838"/>
<polygon fill="#333333" stroke="#333333" points="448.9642,-319.9226 454.16,-318.89 449.4543,-316.4571 448.9642,-319.9226"/>
<text text-anchor="middle" x="387.5" y="-318.3" font-family="Arial" font-size="9.00" fill="#000000">temp_error</text>
</g>
<!-- place_5f5f8758f5f22d523e531f58123b6db9161683a4 -->
<g id="node4" class="node">
<title>place_5f5f8758f5f22d523e531f58123b6db9161683a4</title>
<ellipse fill="none" stroke="#333333" cx="511.5" cy="-190.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="511.5" y="-188.3" font-family="Arial" font-size="9.00" fill="#000000">failed</text>
</g>
<!-- place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;place_5f5f8758f5f22d523e531f58123b6db9161683a4 -->
<g id="edge4" class="edge">
<title>place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;place_5f5f8758f5f22d523e531f58123b6db9161683a4</title>
<path fill="none" stroke="#333333" d="M321.0195,-202.7891C359.226,-200.3241 409.3876,-197.0879 448.6438,-194.5552"/>
<polygon fill="#333333" stroke="#333333" points="448.9864,-196.2869 453.8634,-194.2185 448.761,-192.7941 448.9864,-196.2869"/>
<text text-anchor="middle" x="387.5" y="-203.3" font-family="Arial" font-size="9.00" fill="#000000">permanent_error</text>
</g>
<!-- place_231e564db4cdb44a6545583a8d460edc7f9f97ca -->
<g id="node5" class="node">
<title>place_231e564db4cdb44a6545583a8d460edc7f9f97ca</title>
<ellipse fill="none" stroke="#333333" cx="511.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="511.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">completed</text>
</g>
<!-- place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;place_231e564db4cdb44a6545583a8d460edc7f9f97ca -->
<g id="edge5" class="edge">
<title>place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;place_231e564db4cdb44a6545583a8d460edc7f9f97ca</title>
<path fill="none" stroke="#333333" d="M312.7933,-176.8842C354.5832,-151.7766 414.4213,-115.8255 457.4983,-89.9446"/>
<polygon fill="#333333" stroke="#333333" points="458.4912,-91.3897 461.8759,-87.3145 456.6886,-88.3895 458.4912,-91.3897"/>
<text text-anchor="middle" x="387.5" y="-160.3" font-family="Arial" font-size="9.00" fill="#000000">complete_without_error</text>
</g>
</g>
</svg>
