<svg class="img-responsive" id="state_machine-task" width="732pt" height="122pt"
 viewBox="0.00 0.00 732.00 122.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 118)">
<title>workflow</title>
<polygon fill="white" stroke="none" points="-4,4 -4,-118 728,-118 728,4 -4,4"/>
<!-- place_backlog -->
<g id="node1" class="node"><title>place_backlog</title>
<ellipse fill="lightblue" stroke="#333333" cx="58" cy="-57" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="58" y="-54.8" font-family="Arial" font-size="9.00">backlog</text>
</g>
<!-- transition_processing -->
<g id="node4" class="node"><title>transition_processing</title>
<polygon fill="none" stroke="#333333" points="267.5,-114.5 152.5,-114.5 152.5,0.5 267.5,0.5 267.5,-114.5"/>
<text text-anchor="middle" x="210" y="-54.8" font-family="Arial" font-size="9.00">processing</text>
</g>
<!-- place_backlog&#45;&gt;transition_processing -->
<g id="edge1" class="edge"><title>place_backlog&#45;&gt;transition_processing</title>
<path fill="none" stroke="#333333" d="M115.709,-57C125.975,-57 136.729,-57 147.135,-57"/>
<polygon fill="#333333" stroke="#333333" points="147.211,-58.7501 152.211,-57 147.211,-55.2501 147.211,-58.7501"/>
</g>
<!-- place_in_progress -->
<g id="node2" class="node"><title>place_in_progress</title>
<ellipse fill="none" stroke="#333333" cx="362" cy="-57" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="362" y="-54.8" font-family="Arial" font-size="9.00">in_progress</text>
</g>
<!-- transition_done -->
<g id="node5" class="node"><title>transition_done</title>
<polygon fill="none" stroke="#333333" points="571.5,-114.5 456.5,-114.5 456.5,0.5 571.5,0.5 571.5,-114.5"/>
<text text-anchor="middle" x="514" y="-54.8" font-family="Arial" font-size="9.00">done</text>
</g>
<!-- place_in_progress&#45;&gt;transition_done -->
<g id="edge3" class="edge"><title>place_in_progress&#45;&gt;transition_done</title>
<path fill="none" stroke="#333333" d="M419.709,-57C429.975,-57 440.729,-57 451.135,-57"/>
<polygon fill="#333333" stroke="#333333" points="451.211,-58.7501 456.211,-57 451.211,-55.2501 451.211,-58.7501"/>
</g>
<!-- place_done -->
<g id="node3" class="node"><title>place_done</title>
<ellipse fill="none" stroke="#333333" cx="666" cy="-57" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="666" y="-54.8" font-family="Arial" font-size="9.00">done</text>
</g>
<!-- transition_processing&#45;&gt;place_in_progress -->
<g id="edge2" class="edge"><title>transition_processing&#45;&gt;place_in_progress</title>
<path fill="none" stroke="#333333" d="M267.709,-57C277.975,-57 288.729,-57 299.135,-57"/>
<polygon fill="#333333" stroke="#333333" points="299.211,-58.7501 304.211,-57 299.211,-55.2501 299.211,-58.7501"/>
</g>
<!-- transition_done&#45;&gt;place_done -->
<g id="edge4" class="edge"><title>transition_done&#45;&gt;place_done</title>
<path fill="none" stroke="#333333" d="M571.709,-57C581.975,-57 592.729,-57 603.135,-57"/>
<polygon fill="#333333" stroke="#333333" points="603.211,-58.7501 608.211,-57 603.211,-55.2501 603.211,-58.7501"/>
</g>
</g>
</svg>
