<svg class="img-responsive" id="state_machine-task" width="878pt" height="441pt"
 viewBox="0.00 0.00 878.00 440.96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 436.963)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-436.963 874,-436.963 874,4 -4,4"/>
<!-- place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc -->
<g id="node1" class="node">
<title>place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-175.463" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-173.263" font-family="Arial" font-size="9.00" fill="#000000">new</text>
</g>
<!-- transition_952beba3bd9045f0a69ce76a64c7045d0536ba7d -->
<g id="node6" class="node">
<title>transition_952beba3bd9045f0a69ce76a64c7045d0536ba7d</title>
<polygon fill="none" stroke="#333333" points="266,-232.963 151,-232.963 151,-117.963 266,-117.963 266,-232.963"/>
<text text-anchor="middle" x="208.5" y="-173.263" font-family="Arial" font-size="9.00" fill="#000000">start_process</text>
</g>
<!-- place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc&#45;&gt;transition_952beba3bd9045f0a69ce76a64c7045d0536ba7d -->
<g id="edge1" class="edge">
<title>place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc&#45;&gt;transition_952beba3bd9045f0a69ce76a64c7045d0536ba7d</title>
<path fill="none" stroke="#333333" d="M115.0174,-175.463C125.0246,-175.463 135.4794,-175.463 145.6214,-175.463"/>
<polygon fill="#333333" stroke="#333333" points="145.8926,-177.2131 150.8925,-175.463 145.8925,-173.7131 145.8926,-177.2131"/>
</g>
<!-- place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec -->
<g id="node2" class="node">
<title>place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-375.463" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-373.263" font-family="Arial" font-size="9.00" fill="#000000">backlogged</text>
</g>
<!-- transition_708269ae0043898dacb34d811f4db9a4661226b7 -->
<g id="node7" class="node">
<title>transition_708269ae0043898dacb34d811f4db9a4661226b7</title>
<polygon fill="none" stroke="#333333" points="870,-256.963 755,-256.963 755,-141.963 870,-141.963 870,-256.963"/>
<text text-anchor="middle" x="812.5" y="-197.263" font-family="Arial" font-size="9.00" fill="#000000">retry</text>
</g>
<!-- place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec&#45;&gt;transition_708269ae0043898dacb34d811f4db9a4661226b7 -->
<g id="edge3" class="edge">
<title>place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec&#45;&gt;transition_708269ae0043898dacb34d811f4db9a4661226b7</title>
<path fill="none" stroke="#333333" d="M699.6186,-331.8609C706.1014,-324.4022 712.755,-316.7199 719,-309.463 732.4136,-293.8757 746.8333,-276.9809 760.2363,-261.2176"/>
<polygon fill="#333333" stroke="#333333" points="761.7159,-262.179 763.6208,-257.2359 759.0491,-259.9122 761.7159,-262.179"/>
</g>
<!-- place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42 -->
<g id="node3" class="node">
<title>place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-175.463" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-173.263" font-family="Arial" font-size="9.00" fill="#000000">processing</text>
</g>
<!-- transition_8c11fabda8f8557f8f2d32fac1b64992dcdd95cb -->
<g id="node8" class="node">
<title>transition_8c11fabda8f8557f8f2d32fac1b64992dcdd95cb</title>
<polygon fill="none" stroke="#333333" points="568,-432.963 453,-432.963 453,-317.963 568,-317.963 568,-432.963"/>
<text text-anchor="middle" x="510.5" y="-373.263" font-family="Arial" font-size="9.00" fill="#000000">temp_error</text>
</g>
<!-- place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;transition_8c11fabda8f8557f8f2d32fac1b64992dcdd95cb -->
<g id="edge5" class="edge">
<title>place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;transition_8c11fabda8f8557f8f2d32fac1b64992dcdd95cb</title>
<path fill="none" stroke="#333333" d="M391.1736,-223.4892C408.738,-249.433 431.3514,-281.7383 453,-309.463 454.1428,-310.9265 455.3075,-312.4007 456.4894,-313.8812"/>
<polygon fill="#333333" stroke="#333333" points="455.1558,-315.0153 459.655,-317.8119 457.8817,-312.82 455.1558,-315.0153"/>
</g>
<!-- transition_da0dbf2f704e27002bd4f84f0544e54989d4eaee -->
<g id="node9" class="node">
<title>transition_da0dbf2f704e27002bd4f84f0544e54989d4eaee</title>
<polygon fill="none" stroke="#333333" points="568,-299.963 453,-299.963 453,-184.963 568,-184.963 568,-299.963"/>
<text text-anchor="middle" x="510.5" y="-240.263" font-family="Arial" font-size="9.00" fill="#000000">permanent_error</text>
</g>
<!-- place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;transition_da0dbf2f704e27002bd4f84f0544e54989d4eaee -->
<g id="edge7" class="edge">
<title>place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;transition_da0dbf2f704e27002bd4f84f0544e54989d4eaee</title>
<path fill="none" stroke="#333333" d="M412.3125,-198.8963C423.8749,-204.0266 436.2199,-209.5042 448.1166,-214.7829"/>
<polygon fill="#333333" stroke="#333333" points="447.5476,-216.4449 452.8277,-216.8733 448.9671,-213.2457 447.5476,-216.4449"/>
</g>
<!-- transition_15a5b8d10d7651537654df6d2f01503006392354 -->
<g id="node10" class="node">
<title>transition_15a5b8d10d7651537654df6d2f01503006392354</title>
<polygon fill="none" stroke="#333333" points="568,-166.963 453,-166.963 453,-51.963 568,-51.963 568,-166.963"/>
<text text-anchor="middle" x="510.5" y="-107.263" font-family="Arial" font-size="9.00" fill="#000000">complete_without_error</text>
</g>
<!-- place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;transition_15a5b8d10d7651537654df6d2f01503006392354 -->
<g id="edge9" class="edge">
<title>place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;transition_15a5b8d10d7651537654df6d2f01503006392354</title>
<path fill="none" stroke="#333333" d="M412.3125,-152.3794C423.8749,-147.3256 436.2199,-141.9298 448.1166,-136.7299"/>
<polygon fill="#333333" stroke="#333333" points="448.9471,-138.2768 452.8277,-134.6707 447.5453,-135.0698 448.9471,-138.2768"/>
</g>
<!-- place_5f5f8758f5f22d523e531f58123b6db9161683a4 -->
<g id="node4" class="node">
<title>place_5f5f8758f5f22d523e531f58123b6db9161683a4</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-242.463" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-240.263" font-family="Arial" font-size="9.00" fill="#000000">failed</text>
</g>
<!-- place_231e564db4cdb44a6545583a8d460edc7f9f97ca -->
<g id="node5" class="node">
<title>place_231e564db4cdb44a6545583a8d460edc7f9f97ca</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-109.463" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-107.263" font-family="Arial" font-size="9.00" fill="#000000">completed</text>
</g>
<!-- transition_952beba3bd9045f0a69ce76a64c7045d0536ba7d&#45;&gt;place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42 -->
<g id="edge2" class="edge">
<title>transition_952beba3bd9045f0a69ce76a64c7045d0536ba7d&#45;&gt;place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42</title>
<path fill="none" stroke="#333333" d="M266.0174,-175.463C276.0246,-175.463 286.4794,-175.463 296.6214,-175.463"/>
<polygon fill="#333333" stroke="#333333" points="296.8926,-177.2131 301.8925,-175.463 296.8925,-173.7131 296.8926,-177.2131"/>
</g>
<!-- transition_708269ae0043898dacb34d811f4db9a4661226b7&#45;&gt;place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42 -->
<g id="edge4" class="edge">
<title>transition_708269ae0043898dacb34d811f4db9a4661226b7&#45;&gt;place_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42</title>
<path fill="none" stroke="#333333" d="M794.5359,-141.5793C780.1995,-106.1285 756.2342,-63.6254 719,-42.463 616.2188,15.9539 557.9156,12.0276 453,-42.463 422.3286,-58.3929 399.6069,-89.5124 384.2472,-117.6461"/>
<polygon fill="#333333" stroke="#333333" points="382.6622,-116.8989 381.8452,-122.133 385.7479,-118.5509 382.6622,-116.8989"/>
</g>
<!-- transition_8c11fabda8f8557f8f2d32fac1b64992dcdd95cb&#45;&gt;place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec -->
<g id="edge6" class="edge">
<title>transition_8c11fabda8f8557f8f2d32fac1b64992dcdd95cb&#45;&gt;place_4453c2c51f4d9970b8b68e3be7fbe14355bffeec</title>
<path fill="none" stroke="#333333" d="M568.0174,-375.463C578.0246,-375.463 588.4794,-375.463 598.6214,-375.463"/>
<polygon fill="#333333" stroke="#333333" points="598.8926,-377.2131 603.8925,-375.463 598.8925,-373.7131 598.8926,-377.2131"/>
</g>
<!-- transition_da0dbf2f704e27002bd4f84f0544e54989d4eaee&#45;&gt;place_5f5f8758f5f22d523e531f58123b6db9161683a4 -->
<g id="edge8" class="edge">
<title>transition_da0dbf2f704e27002bd4f84f0544e54989d4eaee&#45;&gt;place_5f5f8758f5f22d523e531f58123b6db9161683a4</title>
<path fill="none" stroke="#333333" d="M568.0174,-242.463C578.0246,-242.463 588.4794,-242.463 598.6214,-242.463"/>
<polygon fill="#333333" stroke="#333333" points="598.8926,-244.2131 603.8925,-242.463 598.8925,-240.7131 598.8926,-244.2131"/>
</g>
<!-- transition_15a5b8d10d7651537654df6d2f01503006392354&#45;&gt;place_231e564db4cdb44a6545583a8d460edc7f9f97ca -->
<g id="edge10" class="edge">
<title>transition_15a5b8d10d7651537654df6d2f01503006392354&#45;&gt;place_231e564db4cdb44a6545583a8d460edc7f9f97ca</title>
<path fill="none" stroke="#333333" d="M568.0174,-109.463C578.0246,-109.463 588.4794,-109.463 598.6214,-109.463"/>
<polygon fill="#333333" stroke="#333333" points="598.8926,-111.2131 603.8925,-109.463 598.8925,-107.7131 598.8926,-111.2131"/>
</g>
</g>
</svg>
