<svg class="img-responsive" id="state_machine-task" width="727pt" height="123pt"
 viewBox="0.00 0.00 727.00 123.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 119)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-119 723,-119 723,4 -4,4"/>
<!-- place_ff9e8f1eca88ed721a8e21064f8f1cb3db85705a -->
<g id="node1" class="node">
<title>place_ff9e8f1eca88ed721a8e21064f8f1cb3db85705a</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">backlog</text>
</g>
<!-- transition_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42 -->
<g id="node4" class="node">
<title>transition_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42</title>
<polygon fill="none" stroke="#333333" points="266,-115 151,-115 151,0 266,0 266,-115"/>
<text text-anchor="middle" x="208.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">processing</text>
</g>
<!-- place_ff9e8f1eca88ed721a8e21064f8f1cb3db85705a&#45;&gt;transition_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42 -->
<g id="edge1" class="edge">
<title>place_ff9e8f1eca88ed721a8e21064f8f1cb3db85705a&#45;&gt;transition_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42</title>
<path fill="none" stroke="#333333" d="M115.0174,-57.5C125.0246,-57.5 135.4794,-57.5 145.6214,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="145.8926,-59.2501 150.8925,-57.5 145.8925,-55.7501 145.8926,-59.2501"/>
</g>
<!-- place_dba928f4ece84b8c361d19595284bfb3c79d03fe -->
<g id="node2" class="node">
<title>place_dba928f4ece84b8c361d19595284bfb3c79d03fe</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">in_progress</text>
</g>
<!-- transition_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a -->
<g id="node5" class="node">
<title>transition_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a</title>
<polygon fill="none" stroke="#333333" points="568,-115 453,-115 453,0 568,0 568,-115"/>
<text text-anchor="middle" x="510.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">done</text>
</g>
<!-- place_dba928f4ece84b8c361d19595284bfb3c79d03fe&#45;&gt;transition_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a -->
<g id="edge3" class="edge">
<title>place_dba928f4ece84b8c361d19595284bfb3c79d03fe&#45;&gt;transition_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a</title>
<path fill="none" stroke="#333333" d="M417.0174,-57.5C427.0246,-57.5 437.4794,-57.5 447.6214,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="447.8926,-59.2501 452.8925,-57.5 447.8925,-55.7501 447.8926,-59.2501"/>
</g>
<!-- place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a -->
<g id="node3" class="node">
<title>place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">done</text>
</g>
<!-- transition_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;place_dba928f4ece84b8c361d19595284bfb3c79d03fe -->
<g id="edge2" class="edge">
<title>transition_6dd8429cc900b9460f1e9d4be6155a6ee1b6de42&#45;&gt;place_dba928f4ece84b8c361d19595284bfb3c79d03fe</title>
<path fill="none" stroke="#333333" d="M266.0174,-57.5C276.0246,-57.5 286.4794,-57.5 296.6214,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="296.8926,-59.2501 301.8925,-57.5 296.8925,-55.7501 296.8926,-59.2501"/>
</g>
<!-- transition_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a&#45;&gt;place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a -->
<g id="edge4" class="edge">
<title>transition_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a&#45;&gt;place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a</title>
<path fill="none" stroke="#333333" d="M568.0174,-57.5C578.0246,-57.5 588.4794,-57.5 598.6214,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="598.8926,-59.2501 603.8925,-57.5 598.8925,-55.7501 598.8926,-59.2501"/>
</g>
</g>
</svg>
