{% extends 'layout.html.twig' %}

{% block main %}
    <div class="p-md-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">symfony/workflow demo</h1>
            <p class="col-lg-8 fs-4">
                This application is a demo to see how the
                <a href="https://symfony.com/doc/current/components/workflow.html" target="_blank">symfony/workflow</a>
                component works, and what you can do with.
                <br/>
                The code is hosted on
                <a href="https://github.com/lyrixx/SFLive-Paris2016-Workflow" target="_blank">Github</a>
                and it's deployed on
                <a href="https://demo-symfony-workflow.cleverapps.io/" target="_blank">CleverCloud</a>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    State Machine
                </div>
                <div class="card-body">
                    <p class="card-text">Play with a state machine</p>
                    <a href="{{ path('task_index') }}" class="btn btn-primary">▶ Task</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Workflow Net
                </div>
                <div class="card-body">
                    <p class="card-text">Play with a workflow net</p>
                    <a href="{{ path('article_index') }}" class="btn btn-primary">▶ Article</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
