parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            string $firewallName: 'main'

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']
