{% extends 'article/layout.html.twig' %}

{% block main %}
    <h1>Article List</h1>
    <ul class="list-unstyled">
        {% for article in articles %}
            <li>
                <a href="{{ path('article_show', {id: article.id}) }}">
                    {{ article.title }}
                </a>
            </li>
        {% else %}
            <li>
                <p>
                    There is not article, Add one ?
                </p>

            </li>
        {% endfor %}
    </ul>

    <h2>Add new article</h2>
    <form action="{{ path('article_create') }}" method="post"  class="form-inline">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{ articles ? "Articles #{(articles|length) + 1}" : "My first article" }}" class="form-control" />
        </div>
        <button type="submit"  class="btn btn-default">create</button>
    </form>
{% endblock %}
