{% extends 'task/layout.html.twig' %}

{% block content %}
    <h1>Task List</h1>
    <ul class="list-unstyled">
        {% for task in tasks %}
            <li>
                <a href="{{ url('task_show', {id: task.id}) }}">
                    {{ task.title }}
                </a>
            </li>
        {% else %}
            <li>
                <p>
                    There is not task, Add one ?
                </p>

            </li>
        {% endfor %}
    </ul>

    <h2>Add new task</h2>
    <form action="{{ url('task_create') }}" method="post"  class="form-inline">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{ tasks ? "Tasks #{(tasks|length) + 1}" : "My first task" }}" class="form-control" />
        </div>
        <button type="submit"  class="btn btn-default">create</button>
    </form>
{% endblock %}
