<svg class="img-responsive" id="workflow-article" width="1029pt" height="256pt"
 viewBox="0.00 0.00 1029.00 256.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 252)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-252 1025,-252 1025,4 -4,4"/>
<!-- place_0e7766b460fd2a39a2fd81d4a3a636b033b52be4 -->
<g id="node1" class="node">
<title>place_0e7766b460fd2a39a2fd81d4a3a636b033b52be4</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-123.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-121.3" font-family="Arial" font-size="9.00" fill="#000000">draft</text>
</g>
<!-- transition_9ebd600a8c17b9eb1ffd2d02dbf5e0548a5bc832 -->
<g id="node7" class="node">
<title>transition_9ebd600a8c17b9eb1ffd2d02dbf5e0548a5bc832</title>
<polygon fill="none" stroke="#333333" points="266,-181 151,-181 151,-66 266,-66 266,-181"/>
<text text-anchor="middle" x="208.5" y="-121.3" font-family="Arial" font-size="9.00" fill="#000000">request_review</text>
</g>
<!-- place_0e7766b460fd2a39a2fd81d4a3a636b033b52be4&#45;&gt;transition_9ebd600a8c17b9eb1ffd2d02dbf5e0548a5bc832 -->
<g id="edge1" class="edge">
<title>place_0e7766b460fd2a39a2fd81d4a3a636b033b52be4&#45;&gt;transition_9ebd600a8c17b9eb1ffd2d02dbf5e0548a5bc832</title>
<path fill="none" stroke="#333333" d="M115.0174,-123.5C125.0246,-123.5 135.4794,-123.5 145.6214,-123.5"/>
<polygon fill="#333333" stroke="#333333" points="145.8926,-125.2501 150.8925,-123.5 145.8925,-121.7501 145.8926,-125.2501"/>
</g>
<!-- place_ebeeed4452982c3b76e434bdf7d3486fe715fa45 -->
<g id="node2" class="node">
<title>place_ebeeed4452982c3b76e434bdf7d3486fe715fa45</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-190.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-188.3" font-family="Arial" font-size="9.00" fill="#000000">wait_for_journalist</text>
</g>
<!-- transition_9fffc2932bf003db84d83834a773d4369f135ab1 -->
<g id="node8" class="node">
<title>transition_9fffc2932bf003db84d83834a773d4369f135ab1</title>
<polygon fill="none" stroke="#333333" points="568,-248 453,-248 453,-133 568,-133 568,-248"/>
<text text-anchor="middle" x="510.5" y="-188.3" font-family="Arial" font-size="9.00" fill="#000000">journalist_approval</text>
</g>
<!-- place_ebeeed4452982c3b76e434bdf7d3486fe715fa45&#45;&gt;transition_9fffc2932bf003db84d83834a773d4369f135ab1 -->
<g id="edge4" class="edge">
<title>place_ebeeed4452982c3b76e434bdf7d3486fe715fa45&#45;&gt;transition_9fffc2932bf003db84d83834a773d4369f135ab1</title>
<path fill="none" stroke="#333333" d="M417.0174,-190.5C427.0246,-190.5 437.4794,-190.5 447.6214,-190.5"/>
<polygon fill="#333333" stroke="#333333" points="447.8926,-192.2501 452.8925,-190.5 447.8925,-188.7501 447.8926,-192.2501"/>
</g>
<!-- place_c9bd8700a04d47f7211c64c8bafbd109cd66a15b -->
<g id="node3" class="node">
<title>place_c9bd8700a04d47f7211c64c8bafbd109cd66a15b</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-190.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-188.3" font-family="Arial" font-size="9.00" fill="#000000">approved_by_journalist</text>
</g>
<!-- transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6 -->
<g id="node10" class="node">
<title>transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6</title>
<polygon fill="none" stroke="#333333" points="870,-181 755,-181 755,-66 870,-66 870,-181"/>
<text text-anchor="middle" x="812.5" y="-121.3" font-family="Arial" font-size="9.00" fill="#000000">publish</text>
</g>
<!-- place_c9bd8700a04d47f7211c64c8bafbd109cd66a15b&#45;&gt;transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6 -->
<g id="edge8" class="edge">
<title>place_c9bd8700a04d47f7211c64c8bafbd109cd66a15b&#45;&gt;transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6</title>
<path fill="none" stroke="#333333" d="M714.3125,-167.0667C725.8749,-161.9363 738.2199,-156.4587 750.1166,-151.18"/>
<polygon fill="#333333" stroke="#333333" points="750.9671,-152.7173 754.8277,-149.0897 749.5476,-149.518 750.9671,-152.7173"/>
</g>
<!-- place_6dff671de9ce422d5ef6dc787eeb3db7a5373df3 -->
<g id="node4" class="node">
<title>place_6dff671de9ce422d5ef6dc787eeb3db7a5373df3</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">wait_for_spellchecker</text>
</g>
<!-- transition_55ae1d9fa1164973b5bd666e5f298a38c09598b3 -->
<g id="node9" class="node">
<title>transition_55ae1d9fa1164973b5bd666e5f298a38c09598b3</title>
<polygon fill="none" stroke="#333333" points="568,-115 453,-115 453,0 568,0 568,-115"/>
<text text-anchor="middle" x="510.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">spellchecker_approval</text>
</g>
<!-- place_6dff671de9ce422d5ef6dc787eeb3db7a5373df3&#45;&gt;transition_55ae1d9fa1164973b5bd666e5f298a38c09598b3 -->
<g id="edge6" class="edge">
<title>place_6dff671de9ce422d5ef6dc787eeb3db7a5373df3&#45;&gt;transition_55ae1d9fa1164973b5bd666e5f298a38c09598b3</title>
<path fill="none" stroke="#333333" d="M417.0174,-57.5C427.0246,-57.5 437.4794,-57.5 447.6214,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="447.8926,-59.2501 452.8925,-57.5 447.8925,-55.7501 447.8926,-59.2501"/>
</g>
<!-- place_05baa8b434e2456c21f907ccc5842506a238c319 -->
<g id="node5" class="node">
<title>place_05baa8b434e2456c21f907ccc5842506a238c319</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">approved_by_spellchecker</text>
</g>
<!-- place_05baa8b434e2456c21f907ccc5842506a238c319&#45;&gt;transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6 -->
<g id="edge9" class="edge">
<title>place_05baa8b434e2456c21f907ccc5842506a238c319&#45;&gt;transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6</title>
<path fill="none" stroke="#333333" d="M714.3125,-80.5836C725.8749,-85.6374 738.2199,-91.0332 750.1166,-96.2331"/>
<polygon fill="#333333" stroke="#333333" points="749.5453,-97.8932 754.8277,-98.2922 750.9471,-94.6861 749.5453,-97.8932"/>
</g>
<!-- place_c2807535f28e44fe6c7375dcf90518115529a8fa -->
<g id="node6" class="node">
<title>place_c2807535f28e44fe6c7375dcf90518115529a8fa</title>
<ellipse fill="none" stroke="#333333" cx="963.5" cy="-123.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="963.5" y="-121.3" font-family="Arial" font-size="9.00" fill="#000000">published</text>
</g>
<!-- transition_9ebd600a8c17b9eb1ffd2d02dbf5e0548a5bc832&#45;&gt;place_ebeeed4452982c3b76e434bdf7d3486fe715fa45 -->
<g id="edge2" class="edge">
<title>transition_9ebd600a8c17b9eb1ffd2d02dbf5e0548a5bc832&#45;&gt;place_ebeeed4452982c3b76e434bdf7d3486fe715fa45</title>
<path fill="none" stroke="#333333" d="M266.0174,-149.021C277.7898,-154.2445 290.1816,-159.7428 301.955,-164.9668"/>
<polygon fill="#333333" stroke="#333333" points="301.3279,-166.603 306.608,-167.0314 302.7475,-163.4038 301.3279,-166.603"/>
</g>
<!-- transition_9ebd600a8c17b9eb1ffd2d02dbf5e0548a5bc832&#45;&gt;place_6dff671de9ce422d5ef6dc787eeb3db7a5373df3 -->
<g id="edge3" class="edge">
<title>transition_9ebd600a8c17b9eb1ffd2d02dbf5e0548a5bc832&#45;&gt;place_6dff671de9ce422d5ef6dc787eeb3db7a5373df3</title>
<path fill="none" stroke="#333333" d="M266.0174,-98.36C277.7898,-93.2144 290.1816,-87.7981 301.955,-82.6521"/>
<polygon fill="#333333" stroke="#333333" points="302.7274,-84.2244 306.608,-80.6184 301.3256,-81.0174 302.7274,-84.2244"/>
</g>
<!-- transition_9fffc2932bf003db84d83834a773d4369f135ab1&#45;&gt;place_c9bd8700a04d47f7211c64c8bafbd109cd66a15b -->
<g id="edge5" class="edge">
<title>transition_9fffc2932bf003db84d83834a773d4369f135ab1&#45;&gt;place_c9bd8700a04d47f7211c64c8bafbd109cd66a15b</title>
<path fill="none" stroke="#333333" d="M568.0174,-190.5C578.0246,-190.5 588.4794,-190.5 598.6214,-190.5"/>
<polygon fill="#333333" stroke="#333333" points="598.8926,-192.2501 603.8925,-190.5 598.8925,-188.7501 598.8926,-192.2501"/>
</g>
<!-- transition_55ae1d9fa1164973b5bd666e5f298a38c09598b3&#45;&gt;place_05baa8b434e2456c21f907ccc5842506a238c319 -->
<g id="edge7" class="edge">
<title>transition_55ae1d9fa1164973b5bd666e5f298a38c09598b3&#45;&gt;place_05baa8b434e2456c21f907ccc5842506a238c319</title>
<path fill="none" stroke="#333333" d="M568.0174,-57.5C578.0246,-57.5 588.4794,-57.5 598.6214,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="598.8926,-59.2501 603.8925,-57.5 598.8925,-55.7501 598.8926,-59.2501"/>
</g>
<!-- transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6&#45;&gt;place_c2807535f28e44fe6c7375dcf90518115529a8fa -->
<g id="edge10" class="edge">
<title>transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6&#45;&gt;place_c2807535f28e44fe6c7375dcf90518115529a8fa</title>
<path fill="none" stroke="#333333" d="M870.0174,-123.5C880.0246,-123.5 890.4794,-123.5 900.6214,-123.5"/>
<polygon fill="#333333" stroke="#333333" points="900.8926,-125.2501 905.8925,-123.5 900.8925,-121.7501 900.8926,-125.2501"/>
</g>
</g>
</svg>
