<svg class="img-responsive" id="workflow-article" width="1038pt" height="264pt"
 viewBox="0.00 0.00 1037.52 264.26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 260.2612)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-260.2612 1033.5225,-260.2612 1033.5225,4 -4,4"/>
<!-- place_0e7766b460fd2a39a2fd81d4a3a636b033b52be4 -->
<g id="node1" class="node">
<title>place_0e7766b460fd2a39a2fd81d4a3a636b033b52be4</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-129.7612" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-127.5612" font-family="Arial" font-size="9.00" fill="#000000">draft</text>
</g>
<!-- transition_a01b4e725a52601cc89c4187b36eee45d150c831 -->
<g id="node7" class="node">
<title>transition_a01b4e725a52601cc89c4187b36eee45d150c831</title>
<polygon fill="none" stroke="#333333" points="266,-187.2612 151,-187.2612 151,-72.2612 266,-72.2612 266,-187.2612"/>
<text text-anchor="middle" x="208.5" y="-127.5612" font-family="Arial" font-size="9.00" fill="#000000">request review</text>
</g>
<!-- place_0e7766b460fd2a39a2fd81d4a3a636b033b52be4&#45;&gt;transition_a01b4e725a52601cc89c4187b36eee45d150c831 -->
<g id="edge1" class="edge">
<title>place_0e7766b460fd2a39a2fd81d4a3a636b033b52be4&#45;&gt;transition_a01b4e725a52601cc89c4187b36eee45d150c831</title>
<path fill="none" stroke="#333333" d="M115.0174,-129.7612C125.0246,-129.7612 135.4794,-129.7612 145.6214,-129.7612"/>
<polygon fill="#333333" stroke="#333333" points="145.8926,-131.5113 150.8925,-129.7612 145.8925,-128.0113 145.8926,-131.5113"/>
</g>
<!-- place_c3db9d69a22efd5e6a87c6a753dbd98626c39330 -->
<g id="node2" class="node">
<title>place_c3db9d69a22efd5e6a87c6a753dbd98626c39330</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-197.7612" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-195.5612" font-family="Arial" font-size="9.00" fill="#000000">waiting for journalist</text>
</g>
<!-- transition_33d0c2071038ad672e1369858b625873a5986aca -->
<g id="node8" class="node">
<title>transition_33d0c2071038ad672e1369858b625873a5986aca</title>
<polygon fill="none" stroke="#333333" points="568,-255.2612 453,-255.2612 453,-140.2612 568,-140.2612 568,-255.2612"/>
<text text-anchor="middle" x="510.5" y="-195.5612" font-family="Arial" font-size="9.00" fill="#000000">journalist approval</text>
</g>
<!-- place_c3db9d69a22efd5e6a87c6a753dbd98626c39330&#45;&gt;transition_33d0c2071038ad672e1369858b625873a5986aca -->
<g id="edge4" class="edge">
<title>place_c3db9d69a22efd5e6a87c6a753dbd98626c39330&#45;&gt;transition_33d0c2071038ad672e1369858b625873a5986aca</title>
<path fill="none" stroke="#333333" d="M417.0174,-197.7612C427.0246,-197.7612 437.4794,-197.7612 447.6214,-197.7612"/>
<polygon fill="#333333" stroke="#333333" points="447.8926,-199.5113 452.8925,-197.7612 447.8925,-196.0113 447.8926,-199.5113"/>
</g>
<!-- place_3a4e60e201f13e6bd07fddddfe5a60301d3173d5 -->
<g id="node3" class="node">
<title>place_3a4e60e201f13e6bd07fddddfe5a60301d3173d5</title>
<ellipse fill="none" stroke="#333333" cx="665.7612" cy="-198.7612" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="665.7612" y="-196.5612" font-family="Arial" font-size="9.00" fill="#000000">approved by journalist</text>
</g>
<!-- transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6 -->
<g id="node10" class="node">
<title>transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6</title>
<polygon fill="none" stroke="#333333" points="878.5225,-187.2612 763.5225,-187.2612 763.5225,-72.2612 878.5225,-72.2612 878.5225,-187.2612"/>
<text text-anchor="middle" x="821.0225" y="-127.5612" font-family="Arial" font-size="9.00" fill="#000000">publish</text>
</g>
<!-- place_3a4e60e201f13e6bd07fddddfe5a60301d3173d5&#45;&gt;transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6 -->
<g id="edge8" class="edge">
<title>place_3a4e60e201f13e6bd07fddddfe5a60301d3173d5&#45;&gt;transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6</title>
<path fill="none" stroke="#333333" d="M718.3256,-175.401C731.2536,-169.6556 745.2206,-163.4485 758.5651,-157.5181"/>
<polygon fill="#333333" stroke="#333333" points="759.5918,-158.9769 763.4502,-155.347 758.1704,-155.7785 759.5918,-158.9769"/>
</g>
<!-- place_214b5221970f998acaf8df0386d527d25f3ed671 -->
<g id="node4" class="node">
<title>place_214b5221970f998acaf8df0386d527d25f3ed671</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-63.7612" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-61.5612" font-family="Arial" font-size="9.00" fill="#000000">wait for spellchecker</text>
</g>
<!-- transition_eec46df8320ad2387e1439ae007305bf92a4b46a -->
<g id="node9" class="node">
<title>transition_eec46df8320ad2387e1439ae007305bf92a4b46a</title>
<polygon fill="none" stroke="#333333" points="568,-119.2612 453,-119.2612 453,-4.2612 568,-4.2612 568,-119.2612"/>
<text text-anchor="middle" x="510.5" y="-59.5612" font-family="Arial" font-size="9.00" fill="#000000">spellchecker approval</text>
</g>
<!-- place_214b5221970f998acaf8df0386d527d25f3ed671&#45;&gt;transition_eec46df8320ad2387e1439ae007305bf92a4b46a -->
<g id="edge6" class="edge">
<title>place_214b5221970f998acaf8df0386d527d25f3ed671&#45;&gt;transition_eec46df8320ad2387e1439ae007305bf92a4b46a</title>
<path fill="none" stroke="#333333" d="M417.0174,-62.9994C427.0246,-62.8669 437.4794,-62.7284 447.6214,-62.5941"/>
<polygon fill="#333333" stroke="#333333" points="447.9162,-64.3404 452.8925,-62.5243 447.8698,-60.8407 447.9162,-64.3404"/>
</g>
<!-- place_55fc54f1b15969c999de674321e8e48db88f8603 -->
<g id="node5" class="node">
<title>place_55fc54f1b15969c999de674321e8e48db88f8603</title>
<ellipse fill="none" stroke="#333333" cx="665.7612" cy="-61.7612" rx="61.5234" ry="61.5234"/>
<text text-anchor="middle" x="665.7612" y="-59.5612" font-family="Arial" font-size="9.00" fill="#000000">approved by spellchecker</text>
</g>
<!-- place_55fc54f1b15969c999de674321e8e48db88f8603&#45;&gt;transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6 -->
<g id="edge9" class="edge">
<title>place_55fc54f1b15969c999de674321e8e48db88f8603&#45;&gt;transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6</title>
<path fill="none" stroke="#333333" d="M722.6932,-86.6958C734.383,-91.8156 746.7482,-97.2312 758.6191,-102.4303"/>
<polygon fill="#333333" stroke="#333333" points="758.0354,-104.0852 763.3175,-104.4881 759.4396,-100.8792 758.0354,-104.0852"/>
</g>
<!-- place_c2807535f28e44fe6c7375dcf90518115529a8fa -->
<g id="node6" class="node">
<title>place_c2807535f28e44fe6c7375dcf90518115529a8fa</title>
<ellipse fill="none" stroke="#333333" cx="972.0225" cy="-129.7612" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="972.0225" y="-127.5612" font-family="Arial" font-size="9.00" fill="#000000">published</text>
</g>
<!-- transition_a01b4e725a52601cc89c4187b36eee45d150c831&#45;&gt;place_c3db9d69a22efd5e6a87c6a753dbd98626c39330 -->
<g id="edge2" class="edge">
<title>transition_a01b4e725a52601cc89c4187b36eee45d150c831&#45;&gt;place_c3db9d69a22efd5e6a87c6a753dbd98626c39330</title>
<path fill="none" stroke="#333333" d="M266.0174,-155.6631C277.7898,-160.9646 290.1816,-166.545 301.955,-171.847"/>
<polygon fill="#333333" stroke="#333333" points="301.3303,-173.4849 306.608,-173.9423 302.7675,-170.2935 301.3303,-173.4849"/>
</g>
<!-- transition_a01b4e725a52601cc89c4187b36eee45d150c831&#45;&gt;place_214b5221970f998acaf8df0386d527d25f3ed671 -->
<g id="edge3" class="edge">
<title>transition_a01b4e725a52601cc89c4187b36eee45d150c831&#45;&gt;place_214b5221970f998acaf8df0386d527d25f3ed671</title>
<path fill="none" stroke="#333333" d="M266.0174,-104.6212C277.7898,-99.4756 290.1816,-94.0593 301.955,-88.9133"/>
<polygon fill="#333333" stroke="#333333" points="302.7274,-90.4857 306.608,-86.8796 301.3256,-87.2786 302.7274,-90.4857"/>
</g>
<!-- transition_33d0c2071038ad672e1369858b625873a5986aca&#45;&gt;place_3a4e60e201f13e6bd07fddddfe5a60301d3173d5 -->
<g id="edge5" class="edge">
<title>transition_33d0c2071038ad672e1369858b625873a5986aca&#45;&gt;place_3a4e60e201f13e6bd07fddddfe5a60301d3173d5</title>
<path fill="none" stroke="#333333" d="M568.3136,-198.1336C579.6032,-198.2063 591.4922,-198.2829 602.9354,-198.3566"/>
<polygon fill="#333333" stroke="#333333" points="603.1468,-200.1079 608.158,-198.3902 603.1694,-196.608 603.1468,-200.1079"/>
</g>
<!-- transition_eec46df8320ad2387e1439ae007305bf92a4b46a&#45;&gt;place_55fc54f1b15969c999de674321e8e48db88f8603 -->
<g id="edge7" class="edge">
<title>transition_eec46df8320ad2387e1439ae007305bf92a4b46a&#45;&gt;place_55fc54f1b15969c999de674321e8e48db88f8603</title>
<path fill="none" stroke="#333333" d="M568.3136,-61.7612C578.2251,-61.7612 588.5986,-61.7612 598.7268,-61.7612"/>
<polygon fill="#333333" stroke="#333333" points="598.9971,-63.5113 603.9971,-61.7612 598.9971,-60.0113 598.9971,-63.5113"/>
</g>
<!-- transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6&#45;&gt;place_c2807535f28e44fe6c7375dcf90518115529a8fa -->
<g id="edge10" class="edge">
<title>transition_5e2fb0c2c59448e1dec5df0f70ec85fcad1ca7b6&#45;&gt;place_c2807535f28e44fe6c7375dcf90518115529a8fa</title>
<path fill="none" stroke="#333333" d="M878.5399,-129.7612C888.5471,-129.7612 899.0019,-129.7612 909.1439,-129.7612"/>
<polygon fill="#333333" stroke="#333333" points="909.415,-131.5113 914.415,-129.7612 909.415,-128.0113 909.415,-131.5113"/>
</g>
</g>
</svg>
