{% extends 'layout.html.twig' %}

{% block content %}

    {% block main '' %}

    <hr />

    <div>
        {{ include('article/doc.svg.twig') }}
    </div>

    {% block main_footer '' %}

{% endblock %}
